= form_for search, url: create_search_path, as: :search do |f|
  = search.errors.inspect
  .base
    = f.label :where
    = f.text_field :where

    = f.label :check_in, 'Check In'
    = f.date_field :check_in, min: check_in_lower_bound

    = f.label :check_out, 'Check Out'
    = f.date_field :check_out, min: check_out_lower_bound

    = f.label :rooms_count, 'Rooms'
    = f.select :rooms_count, (1..Search::Base::MAX_ROOMS_COUNT)

  .rooms
    .room{ data: { room: 0 } }
      %span Room 1:
      = f.fields_for :rooms do |r|
        = r.label :adults_count, 'Adults'
        = r.select :adults_count, (1..Search::Room::MAX_ADULTS_COUNT)

        = r.label :children_count, 'Children'
        = r.select :children_count, (0..Search::Room::MAX_CHILDREN_COUNT)

        .children
          Child 1: <select id="search_rooms_attributes_0_children" name="search[rooms_attributes][0][children][]"><option value=10>10</option></select>

  = f.submit 'Search Hotels'
